{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block 'head' %} <link rel="stylesheet" href="{% static 'outros.css' %}"> {% endblock %}
{% block 'title' %} Contato - Amor e Patas {% endblock %}

{% block 'principal' %}

  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Entre em Contato Conosco -Equipe Amor e Patas</h1>

          <div class="alert alert-info" role="alert">
            Estamos aqui para ajudar. Se você tiver alguma dúvida ou precisar de mais informações, entre em contato conosco!
          </div>

          <div class="contact-info text-center">
              <p><strong>Endereço:</strong> Rua dos Animais Felizes, 123</p>
              <p><strong>Telefone:</strong> (11) 1234-5678</p>
              <p><strong>Email:</strong> contato@amorepatasabrigo.com</p>
          </div>

          <form method="post">
            {% csrf_token %}
                
            {{ form|crispy }}

            <input class="btn-primary btn-lg btn-enviar" type="submit" value="Enviar mensagem">
          </form>
        </div>
    </div>
  </div>

{% endblock %}