{% extends "base.html" %}
{% load static %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'outros.css' %}"> {% endblock %}

{% block 'title' %}
Animais para adoção
{% endblock %}

{% block 'principal' %}

  <div class="h1-title">
    <h1 class="text-center">Animais para adoção</h1>
  </div>
  <div class="col-md-6 offset-md-3 search-form">
    <form action="{% url 'base:search_animais' %}" method=POST class="d-flex" role="search" target="_blank">
      {% csrf_token %}
      <input type="search" name="pesquisa" class="form-control me-2" placeholder="Pesquise pela espécie, raça, gênero ou porte desejados">

      <button class="btn btn-outline-success" type="submit">Pesquisar</button>

    </form>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for animal in animais %}
        <div class="col">
          <div class="card h-100 card-all">
            <img width="100%" src="{{ animal.photo.url }}" class="card-img-top custom-image" alt="...">
            <a href="{% url 'base:card_animal' animal.id %}" class="btn-enviar text-center">Conheça {{ animal.nome }}</a>
          </div>
        </div>
      {% empty %}
        <div class="container justify-content-center">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <h5 class="text-center">Não encontrado.</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  

{% endblock %}