{% extends "base.html" %}
{% load static %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/outros.css' %}"> {% endblock %}

{% block 'title' %}
Pesquisa
{% endblock %}

{% block 'principal' %}
  {% if pesquisa %}
    <h1 class="text-center h1-title">Você procurou por {{ pesquisa }}</h1>
    <br>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for animal in animais %}
          <div class="col">
            <div class="card h-100 card-all">
              <img width="100%" src="{{ animal.photo.url }}" class="card-img-top custom-image" alt="...">
              <a href="{% url 'base:card_animal' animal.id %}" class="btn-enviar text-center">Conheça {{ animal.nome }}</a>
            </div>
          </div>
        {% empty %}
          <div class="container justify-content-center">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h5 class="text-center">Não encontrado.</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h1 class="text-center h1-title">Nenhuma pesquisa realizada.</h1>
  {% endif %}

{% endblock %}