{% extends "base_cad_animais.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/outros.css' %}"> {% endblock %}

{% block 'title' %} Cadastro de raças{% endblock %}

{% block 'principal' %}
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Cadastro de raças</h1>
        <form action="" method="POST">
          {% csrf_token %}
          
           {{ form|crispy }}
      
          <input class="btn-primary btn-lg btn-enviar" type="submit" value="Cadastrar">
        </form>
        {% if sucesso %}
          <div class="alert alert-success" role="alert">
            Raça cadastrada com sucesso!
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}